<div class="d-flex flex-column align-items-center" *ngIf="!isLoading; else preloader">
    <h1>View Appointment Details</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sl NO</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">Package</th>
                <th scope="col">Trainer Preference</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of fitnessData">
                <th scope="row">{{item.id}}</th>
                <td>{{item.firstname}} {{item.lastname}}</td>
                <td>{{item.streetaddress}}</td>
                <td>{{item.city}}</td>
                <td>{{item.packages}}</td>
                <td>{{item.trainerpreference}}</td>
                <td>{{item.phonenumber}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #preloader>
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>