<div class="d-flex flex-column align-items-center">
    <h1>Contact US</h1>
    <form [formGroup]="contactForm" class="container w-75">
        <div class="row mb-3">
            <div class="form-group col-lg-6">
                <label for="fname" class="form-label">First Name</label>
                <input type="text" tabindex="1" class="form-control" id="fname" formControlName="firstname" autofocus />
                <div *ngIf="contactForm.get('firstname').touched">
                    <div class="invalid-feedback" *ngIf="contactForm.get('firstname').errors?.required">
                        Field is required</div>
                    <div class="invalid-feedback" *ngIf="contactForm.get('firstname').errors?.pattern">Only
                        alphabets allowed</div>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label for="lname" class="form-label">Last Name</label>
                <input type="text" tabindex="2" class="form-control" id="lname" formControlName="lastname" />
                <div *ngIf="contactForm.get('lastname').touched">
                    <div class="invalid-feedback" *ngIf="contactForm.get('lastname').errors?.required">
                        Field is required</div>
                    <div class="invalid-feedback" *ngIf="contactForm.get('lastname').errors?.pattern">Only
                        alphabets allowed</div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-lg-8">
                <label for="email" class="form-label">Email address</label>
                <input type="email" tabindex="3" class="form-control" id="email" formControlName="email" />
                <div *ngIf="contactForm.get('email').touched">
                    <div class="invalid-feedback" *ngIf="contactForm.get('email').errors?.required">
                        Field is required</div>
                    <div class="invalid-feedback" *ngIf="contactForm.get('email').errors?.email">Invalid email</div>
                </div>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="form-group col-lg-4">
                <label for="phonenumber" class="form-label">Phone number</label>
                <input type="number" tabindex="4" class="form-control" id="phonenumber" formControlName="phonenumber" />
                <div *ngIf="contactForm.get('phonenumber').touched">
                    <div class="invalid-feedback" *ngIf="contactForm.get('phonenumber').errors?.required">
                        Field is required</div>
                    <div class="invalid-feedback"
                        *ngIf="contactForm.get('phonenumber').errors?.min || contactForm.get('phonenumber').errors?.max">Invalid
                        phone number
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-lg-12">
                <label for="address" class="form-label">Message</label>
                <textarea class="form-control" tabindex="5" id="message" formControlName="message"></textarea>
                <div *ngIf="contactForm.get('message').touched">
                    <div class="invalid-feedback" *ngIf="contactForm.get('message').errors?.required">
                        Field is required</div>
                </div>
            </div>
        </div>
        <button type="submit" tabindex="6" class="btn btn-primary" (click)="onSubmit()" [disabled]="isLoading">
            <div *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status"></div>
            <span>Submit</span>
        </button>
    </form>
</div>