<div class="d-flex flex-column align-items-center">
    <h1>Place Fitness Trainer Appointment</h1>
    <form [formGroup]="appointmentForm" class="container w-75">
        <div class="row mb-3">
            <div class="form-group col-lg-6">
                <label for="fname" class="form-label">First Name</label>
                <input type="text" tabindex="1" class="form-control" id="fname" formControlName="firstname" autofocus />
                <div *ngIf="appointmentForm.get('firstname').touched">
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('firstname').errors?.required">
                        Field is required</div>
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('firstname').errors?.pattern">Only
                        alphabets allowed</div>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <label for="lname" class="form-label">Last Name</label>
                <input type="text" tabindex="2" class="form-control" id="lname" formControlName="lastname" />
                <div *ngIf="appointmentForm.get('lastname').touched">
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('lastname').errors?.required">
                        Field is required</div>
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('lastname').errors?.pattern">Only
                        alphabets allowed</div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-lg-6">
                <label for="email" class="form-label">Email address</label>
                <input type="email" tabindex="3" class="form-control" id="email" formControlName="email" />
                <div *ngIf="appointmentForm.get('email').touched">
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('email').errors?.required">
                        Field is required</div>
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('email').errors?.email">Invalid email</div>
                </div>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="form-group col-lg-4">
                <label for="phonenumber" class="form-label">Phone number</label>
                <input type="number" tabindex="4" class="form-control" id="phonenumber" formControlName="phonenumber" />
                <div *ngIf="appointmentForm.get('phonenumber').touched">
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('phonenumber').errors?.required">
                        Field is required</div>
                    <div class="invalid-feedback"
                        *ngIf="appointmentForm.get('phonenumber').errors?.min || appointmentForm.get('phonenumber').errors?.max">Invalid
                        phone number
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-2">
                <label for="age" class="form-label">Age</label>
                <input type="number" tabindex="4" class="form-control" id="age" formControlName="age" />
                <div *ngIf="appointmentForm.get('age').touched">
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('age').errors?.required">
                        Field is required</div>
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('age').errors?.min">Minimum age limit 18
                    </div>
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('age').errors?.max">Maximum age limit 60
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-lg-8">
                <label for="streetaddress" class="form-label">Street Address</label>
                <textarea class="form-control" tabindex="5" id="streetaddress"
                    formControlName="streetaddress"></textarea>
                <div *ngIf="appointmentForm.get('streetaddress').touched">
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('streetaddress').errors?.required">
                        Field is required</div>
                </div>
            </div>
            <div class="form-group col-lg-4">
                <label for="fname" class="form-label">City</label>
                <input type="text" tabindex="1" class="form-control" id="fname" formControlName="city" autofocus />
                <div *ngIf="appointmentForm.get('city').touched">
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('city').errors?.required">
                        Field is required</div>
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('city').errors?.pattern">Only
                        alphabets allowed</div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-lg-4">
                <label for="fname" class="form-label">State</label>
                <input type="text" tabindex="1" class="form-control" id="fname" formControlName="state" autofocus />
                <div *ngIf="appointmentForm.get('state').touched">
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('state').errors?.required">
                        Field is required</div>
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('state').errors?.pattern">Only
                        alphabets allowed</div>
                </div>
            </div>
            <div class="form-group col-lg-4">
                <label for="fname" class="form-label">Country</label>
                <input type="text" tabindex="1" class="form-control" id="fname" formControlName="country" autofocus />
                <div *ngIf="appointmentForm.get('country').touched">
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('country').errors?.required">
                        Field is required</div>
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('country').errors?.pattern">Only
                        alphabets allowed</div>
                </div>
            </div>
            <div class="form-group col-lg-4">
                <label for="pincode" class="form-label">Pincode</label>
                <input type="number" class="form-control" tabindex="6" id="pincode" formControlName="pincode" />
                <div *ngIf="appointmentForm.get('pincode').touched">
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('pincode').errors?.required">
                        Field is required</div>
                    <div class="invalid-feedback"
                        *ngIf="appointmentForm.get('pincode').errors?.min || appointmentForm.get('pincode').errors?.max">
                        Invalid pincode
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group col-lg-4">
                <label for="trainerpreference" class="form-label">Trainer preference</label>
                <div class="py-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="trainerpreference" id="male"
                            value="male">
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="trainerpreference" id="female"
                            value="female">
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                </div>
                <div *ngIf="appointmentForm.get('trainerpreference').touched">
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('trainerpreference').errors?.required">
                        Field is required</div>
                </div>
            </div>
            <div class="form-group col-lg-4">
                <label for="physiotherapist" class="form-label">Physiotherapist</label>
                <div class="py-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="physiotherapist" id="yes"
                            value="yes">
                        <label class="form-check-label" for="yes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="physiotherapist" id="no"
                            value="no">
                        <label class="form-check-label" for="no">No</label>
                    </div>
                </div>
                <div *ngIf="appointmentForm.get('physiotherapist').touched">
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('physiotherapist').errors?.required">
                        Field is required</div>
                </div>
            </div>
            <div class="form-group col-lg-4">
                <label for="packages" class="form-label">Package</label>
                <select class="form-select" id="packages" formControlName="packages">
                    <option selected>Select package</option>
                    <option [value]="500">500</option>
                    <option [value]="1000">1000</option>
                    <option [value]="1200">1200</option>
                    <option [value]="1500">1500</option>
                </select>
                <div *ngIf="appointmentForm.get('packages').touched">
                    <div class="invalid-feedback" *ngIf="appointmentForm.get('packages').errors?.required">
                        Field is required</div>
                </div>
            </div>
        </div>
        <button type="submit" tabindex="7" class="btn btn-primary" (click)="onSubmit()" [disabled]="isLoading">
            <div *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status"></div>
            <span>Submit</span>
        </button>
    </form>
</div>