<div class="h-100">
  <div class="d-flex align-items-center p-4 text-center">
    <a href="#" aria-label="Product">
      <img class="d-block mx-auto" src="../assets/logo.png" alt="" width="150" height="150">
    </a>
    <div class="w-100">
      <h1 class="display-5 fw-bold">FSD Fitness</h1>
      <div class="col-lg-6 mx-auto">
        <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark" aria-label="Fourth navbar example">
    <div class="d-flex w-100 px-4">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex justify-content-between align-items-center flex-wrap w-100">
        <ul class="navbar-nav me-auto mb-2 mb-md-0 flex-row">
          <li class="nav-item px-3">
            <a [routerLink]="['/landing-page']" routerLinkActive="active" class="nav-link" aria-current="page">HOME</a>
          </li>
          <li class="nav-item px-3">
            <a [routerLink]="['/place-fitness-trainer-appointment']" routerLinkActive="active" class="nav-link">PLACE
              APP</a>
          </li>
          <li class="nav-item px-3">
            <a [routerLink]="['/view-appointment']" routerLinkActive="active" class="nav-link">VIEW APP</a>
          </li>
          <li class="nav-item px-3">
            <a [routerLink]="['/contact-us']" routerLinkActive="active" class="nav-link">CONTACT</a>
          </li>
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
  <section>
    <nav class="side-bar d-flex flex-column flex-shrink-0 p-3" id="navbarsExample04">
      <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4">Navigation</span>
      </div>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a [routerLink]="['/landing-page']" routerLinkActive="active" class="nav-link link-dark"
            aria-current="page">HOME</a>
        </li>
        <li>
          <a [routerLink]="['/place-fitness-trainer-appointment']" routerLinkActive="active"
            class="nav-link link-dark">PLACE APP</a>
        </li>
        <li>
          <a [routerLink]="['/view-appointment']" routerLinkActive="active" class="nav-link link-dark">VIEW APP</a>
        </li>
        <li>
          <a [routerLink]="['/contact-us']" routerLinkActive="active" class="nav-link link-dark">CONTACT</a>
        </li>
      </ul>
      <hr>
    </nav>
    <div class="content-wrapper p-4">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>