header {
    background-color: #343a40;
    .nav-logo {
        height: 20px;
        width: 275px;
        max-width: 275px;
    }
    nav {
        a.active {
            background-color: #e9ecef
        }
    }
}
nav.side-bar {
    background-color: #e9ecef;
    position: absolute;
    height: calc(100% - 200px);
    width: 230px;
}
.content-wrapper{
    margin-left: 230px;
}