<div class="h-100 d-flex flex-column justify-content-between px-4 pt-5 text-center">
    <div>
        <h1 class="display-4 fw-bold">Intro text</h1>
        <div class="col-lg-10 mx-auto">
            <p class="lead mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
    </div>
    <button type="button" [routerLink]="['/place-fitness-trainer-appointment']" routerLinkActive="router-link-active"
        class="btn btn-primary btn-lg p-4 w-100 h-25">Apply For Trainer</button>
</div>